<div class="col-md-4">
  <div id="spotify-card" class="card">
    <img
      class="card-img-top"
      src="{{ this.images.0.url }}"
      alt="Image of {{this.name}}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ this.name }}</h5>
      <a class="spt-btn" href="/{{albumstracks}}/{{ this.id }}">View Albums</a>
    </div>
  </div>
</div>